.block-wrapper {
    height: 250px;
    width: calc(50% - 40px);
    margin: 20px;

    .add-project-border {
        height: calc(100% - 40px);
        width: calc(100% - 40px);
        padding: 20px;
        background-color: var(--tasktracker-light-purple);
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        cursor: pointer;

        .add-text {
            font-family: "WorkSans";
            color: var(--tasktracker-black);
            font-size: 16px;
            margin-top: 30px;
        }

    }
}