// list of all the colors used throughout the project

:root {
    --tasktracker-dark-black: #201F1E;
    --tasktracker-light-gray: #5E5E5E;
    --tasktracker-marble-white: #F8F8F7;
    --tasktracker-cream: #E4BAAC;
    --tasktracker-black: #101010;
    --tasktracker-white: #ffffff;
    --tasktracker-orange: #E85A1E;
    --tasktracker-light-purple: rgba(118, 136, 232, 0.1);
}